[submodule "libft"]
	path = libft
	url = https://github.com/Shakadak/libft.git
[submodule "libumlx"]
	path = libumlx
	url = https://github.com/Shakadak/libumlx.git
[submodule "libmtx"]
	path = libmtx
	url = https://github.com/Shakadak/libmtx.git
